{% extends 'page.html' %}

{% block content %}
    <h1>Обработка фраз</h1>
    <h2>Результаты</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Запрос</th>
                <th>Ответ</th>
            </tr>
        </thead>
        <tbody>
            {% for ans in answers %}
            {% if 'image' not in ans %}
            <tr>
                <td>{{ ans.query }}</td>
                <td>{{ ans.value }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <h2>Ввод текста</h2>
    <form action="/reverse_text" method="POST">
        <div class="mb-3">
            <label for="input_text" class="form-label">Введите текст</label>
            <textarea name="input_text" id="input_text" class="form-control"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Отправить">
    </form>
{% endblock %}