{% extends 'page.html' %}

{% block content %}
    <h1>Обработка картинок</h1>
    <h2>Результаты</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Запрос</th>
                <th>Ответ</th>
            </tr>
        </thead>
        <tbody>
            {% for ans in answers %}
            {% if 'image' in ans %}
            <tr>
                <td>{{ ans.image }}</td>
                <td><img src="/static/{{ ans.image }}" alt="" width="50%"></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <h2>Загрузка изображения</h2>
    <form action="/transform_image" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="image" class="form-label">Выберите файл</label>
            <input type="file" name="image" id="image" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary" value="Отправить">
    </form>
{% endblock %}